<div class="container">
  <h1 class="m-4 color-theme">Our Mission</h1>

  <div class="bg-white m-4 p-4 shadow">
    <!-- <h1>Food Sharing Cause</h1> -->
    Our organization is driven by a profound mission aimed at addressing some of
    the most critical challenges facing our global community: food waste and
    hunger. We believe that everyone has the right to access nutritious food,
    and it's our unwavering commitment to make this vision a reality. Here's an
    expanded version of our mission statement:
    <br /><br />
    <ul>
      <li>
        <strong>Reduce food waste and hunger:</strong> In a world where millions
        of tons of food are wasted each year, it's unacceptable that millions of
        people still suffer from hunger and malnutrition. We're dedicated to
        combating this disparity by implementing strategies that minimize food
        waste at every stage of the supply chain, from production and
        distribution to consumption. By rescuing surplus food that would
        otherwise end up in landfills, we can redirect it to those who need it
        most, effectively reducing hunger and food insecurity in our
        communities.
      </li>
      <br />
      <li>
        <strong>Connect surplus food with those in need:</strong> One of our
        primary objectives is to bridge the gap between food surplus and food
        insecurity. Through innovative technologies and strategic partnerships
        with food producers, retailers, and charitable organizations, we create
        efficient channels for redistributing excess food to individuals and
        families facing hunger. By fostering collaboration and coordination
        within our communities, we ensure that no edible food goes to waste
        while there are people struggling to put meals on their tables.
      </li>
      <br />

      <li>
        <strong>Promote sustainable food practices:</strong> Our commitment to
        combating hunger extends beyond immediate relief efforts to encompass
        long-term solutions that promote environmental sustainability. We
        advocate for and support practices that prioritize the health of our
        planet, including sustainable farming methods, local and organic food
        production, and responsible consumption habits. By adopting these
        practices, we not only safeguard natural resources and biodiversity but
        also mitigate the adverse impacts of climate change on food security.
      </li>
    </ul>

    <p>
      At our core, we envision a world where no one goes hungry, where food
      resources are utilized efficiently and sustainably, and where every
      individual has the opportunity to thrive.
    </p>
  </div>
</div>
