<div class="container">
    <h1 class="m-4 color-theme">NGOs & GOV Guidelines</h1>
  
    <div class="bg-white m-4 p-4 shadow">
        <h2>Join the Movement!</h2>
        <p>
          By volunteering for food surplus donation programs, you become part of a powerful movement supported by both non-governmental organizations (NGOs) and government initiatives that are tackling hunger and food waste head-on. Your contribution can make a real difference in the lives of those in need and help create a more sustainable future for our planet.
        </p>
        <ul>
          <li><strong>Feel-Good Factor:</strong> Experience the satisfaction of knowing that you're making a meaningful difference in the world and positively impacting the lives of others, with the support of NGOs and government initiatives.</li>
          <li><strong>Community Engagement:</strong> Connect with like-minded individuals who share your passion for giving back and making a difference in their communities, supported by collaborative efforts between NGOs and government bodies.</li>
          <li><strong>Personal Growth:</strong> Gain valuable skills, experiences, and perspectives that can enhance your personal and professional development, with opportunities provided by both NGOs and government programs.</li>
          <li><strong>Rewards and Recognition:</strong> Receive recognition for your contributions through certificates, awards, or other forms of acknowledgment, fostering a sense of accomplishment and pride, backed by the support and appreciation of both NGOs and government entities.</li>
          <li><strong>Fun and Fulfillment:</strong> Enjoy the camaraderie and fulfillment that comes from working together with others toward a common goal, while also having fun and creating lasting memories, in collaborative efforts between NGOs and government-sponsored initiatives.</li>
        </ul>
        <a
        href="/auth/signup"
        class="btn btn-lg btn-primary mt-5 joinus"
        style="float: left; width: 200px; border-radius: 0; z-index: 6"
        >Join Us ></a
      >
    </div>
</div>
