<div class="container">
  <h1 class="m-4 color-theme">Volunteer Guidelines & Incentives</h1>

  
    <div class="bg-white m-4 p-4 shadow">
        <h2>Join the Movement!</h2>
        <div class="row">
            <div class="col-md-8">
        <p>
            By volunteering for the food surplus donation, you become part of a powerful movement that is tackling hunger and food waste head-on. Your contribution can make a real difference in the lives of those in need and help create a more sustainable future for our planet.
        </p>
        
            
                <ul>
                    <li><strong>Feel-Good Factor:</strong> Experience the satisfaction of knowing that you're making a meaningful difference in the world and positively impacting the lives of others.</li><br>
                    <li><strong>Community Engagement:</strong> Connect with like-minded individuals who share your passion for giving back and making a difference in their communities.</li><br>
                    <li><strong>Personal Growth:</strong> Gain valuable skills, experiences, and perspectives that can enhance your personal and professional development.</li><br>
                    <li><strong>Rewards and Recognition:</strong> Receive recognition for your contributions through certificates, awards, or other forms of acknowledgment, fostering a sense of accomplishment and pride.</li><br>
                    <li><strong>Fun and Fulfillment:</strong> Enjoy the camaraderie and fulfillment that comes from working together with others toward a common goal, while also having fun and creating lasting memories.</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="container h-100">
                    <img src="https://images.pexels.com/photos/6646909/pexels-photo-6646909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Volunteer Image" class="img-fluid grayscale-image" style="padding: 0 20px 10px 20px;">
                </div>
                
                
            </div>
        </div>

        <a
        href="/auth/signup"
        class="btn btn-lg btn-primary mt-5 joinus"
        style="float: left; width: 200px; border-radius: 0; z-index: 6"
        >Join Us ></a
      >
        
    </div>
  </div>
  