<div
  id="carousel"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="3000"
>
  <div class="carousel-inner" style="filter: brightness(50%)">
    <div class="carousel-item active">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/imax-72967.appspot.com/o/hack%2Fyogendra-singh%20-%20GouyaT6Y2E-unsplash.jpg?alt=media&token=aa4640e2-eb6a-4c09-9764-e8e7704f38c1"
        class="d-block w-100"
        alt="..."
        style="filter: grayscale(100%)"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/imax-72967.appspot.com/o/hack%2Fsteve-knutson-lQ2BzDNmnHE-unsplash.jpg?alt=media&token=9e705328-b184-42c0-a07c-340c5dab5cd3"
        class="d-block w-100"
        alt="..."
        style="filter: grayscale(100%)"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/imax-72967.appspot.com/o/hack%2Fmax-bohme-Skhc2Bm7J4s-unsplash.jpg?alt=media&token=c7f6f8af-85ac-49f7-8fa1-4a21498d71b1"
        class="d-block w-100"
        alt="..."
        style="filter: grayscale(100%)"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/imax-72967.appspot.com/o/hack%2Fhanna-morris-3EkT6xb4K9w-unsplash.jpg?alt=media&token=75f7a6e3-d8ce-4a1b-85c3-4c733a1b5705"
        class="d-block w-100"
        alt="..."
        style="filter: grayscale(100%)"
      />
    </div>
  </div>

  <div
    class="carousel-item d-flex justify-content-center align-items-center overlay"
    style="
      height: 90vh;
      position: relative;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    "
  >
    <div class="d-flex flex-column">
      <h1
        style="
          font-size: 10rem;
          font-weight: bold;
          color: #ffffff;
          border: 2px solid #ffffff;

          padding: 10px;
        "
      >
        FOOD200
      </h1>
      <h4
        style="
          font-size: 2rem;
          font-weight: bold;
          color: #ffffff;
          border: 2px solid white;

          padding: 10px;
          display: inline-block;
        "
      >
        Feeding Hope: Transforming Surplus into Nourishment, hundreds at a time.
      </h4>

      <a
        href="/auth/signup"
        class="btn btn-lg btn-primary mt-5 joinus"
        style="float: left; width: 200px; border-radius: 0; z-index: 6"
        >Join Us -></a
      >
    </div>
    <div
      class="overlay"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    ></div>
  </div>
</div>
